/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;

}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.navbar-inverse .navbar-nav > .active > a{
    background-color: #711427;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}
.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-brand {
    padding: 0%;
}
.navbar-wrapper .navbar .container {
    width: auto;
}
#compte{
    color: #333;
    background-color: #711427;
    border-color: #333;
    font-size: 15px;
}
#Decobutton{
    color: white;
    background-color: #711427;
    border-color: #333;
    font-size: 15px;
}
.page-banner img{
    width: 100%;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}
.carousel-caption h1 {
    text-align: initial;
}
.carousel-caption{
    right: 0%;
    left: 0%;
    bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
}
.backG{
    background-color: #101010;
    border-radius: 5px;
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.3;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.card .carousel-control{
    background-image: none;
}
.card .carousel-control span{
    color: black;
}
#card  .item{
    height: auto;
    background-color: white;
}
#card {
    height: auto;
    margin-bottom: 60px;
    position: relative
}
.card .carousel-control.left:hover{
    border-radius:5px;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.card .carousel-control.right:hover{
    border-radius:5px;
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}
#salon .panel-heading{
 background-color: #333;
}
#salon .btn{
    background-color: #711427;
    color: white;
}
.btn-LoveLetter{
    background-color: #711427;
    color: white;
}
#salon .col-sm-3{
    padding: 0%;
    border-color: #711427;
    margin-left: 4%;
    margin-right: 4%;
}

#salon .panel-body{
    padding: 3%;
}
.addPartie .panel-body{
    text-align: center;
}

.regle{
    margin: 2%;

}
.FormCo{
    margin-top: 10%;
    margin-bottom: 10%;
}
#erreurForm{
    padding-top: 2%;

    padding-bottom: 2%;

    border-radius: 5px;
}
#formrow{
    margin-bottom: 5%;
}
/*partie
 --------------------------*/
#partie{
    color: white;
    margin-top :2%;
}
.row{
    margin-bottom: 0.5%;
}
#partie .row img {
    width: 100%;
}
html {
    background: url('../../theme/ressource/plateau.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bodyP{
    background: none;
}
.center{
    margin:auto;
    float:none;  /* annule le float:left de bootstrap*/
}
#help{
    padding: 0%;
    width:30px;
    height:30px;
    background:#711427;
    border-radius:50%;
    border:none;
    color:#fff;
    margin-right: 1%;
}
#help span{
    width: 100%;
    padding-top: 10%;
}
.historique {
    position: absolute;
    top: 500px;
    right: 0;
    width: 30%;
    height: 200px;
    overflow: auto;
}
win{
    font-weight: bold;
    color:green;
}
loose{
    color:red;
    font-weight: bold;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #711427;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #711427;
    color: white;
}
.msgS{
    text-align: center;
}

.resultat {
    position: absolute;
    text-align: center;
    width: 50%;
    margin: 10% 25%;
}
#baron {
    margin: 5% 0%;
    width: 100%;
}
#users{
    margin: 5% 0%;
    width: 100%;
}
.user{
    color:white;
}
.user:hover{
    background: #711427;
}
#stopeffect{
    color:white;
}
#stopeffect:hover{
    background: #711427;
}
.fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;
    background-color:#00506b;}

#guard img
{
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}
#guard img:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
#guard{
    margin: 5% 0%;
    width: 100%;
}
#guard img{
    width: 50%;
}

/*Footer
 --------------------------*/
footer{
    background-color: #333;
    color: white;
}

footer a{
    color: #711427;
}
/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
    #phoneheader{
        display: none;
    }
}

@media (max-width: 768px) {
    #phoneheader{
        display: block;
    }
    .desc h1{
        text-align: center;
    }
    .item img{
        width: 50%;
        margin-left: 25%;
    }
    .carousel-indicators{
        display: none;
    }
    #phoneheader img{
        height: 70px;
    }
    #myCarousel{
        display: none;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
    #partie .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    #partie .col-sm-offset-3 {
        margin-left: 25%;
    }
    #partie .col-sm-offset-4{
        margin-left: 33.33%;
    }
    #partie .col-sm-offset-6 {
        margin-left: 50%;
    }
    partie .col-sm-1{
        width: 8.33%;
    }
    #partie .col-sm-3 {
        width: 25%;
    }
    #partie .col-sm-4 {
        width: 33.33333333%;
    }
    #partie .col-sm-6{

    }
    #partie .col-sm-10{
        width: 83.33333333%;
    }
    #partie .col-sm-12{

    }


    #partie .center{
        margin: auto;
        float: none;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    .row {
        margin-bottom: 0.5%;
    }

}
